body{
    background-color:#FFFFFF;
}
nav{
    /* background-color: #f7babc; */
    /* #BAACBD */
    background-color: #F45B69;
}

a{
    color:#FFFFFF;
}

.container{
    width: 95%;
}

.button{
    padding-top:10px;
    margin:auto;
    background: transparent;
    border: none;
    color:transparent;
}

#card{
    padding: 100px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
}

#here{
    background-color: #3C3C3C;
}

#letter{
    margin: auto;
    padding-top: 10px;
}